
  
 </br>
</br>
</br>  



<div class="two-section" >


<div class="clear"></div>

<!--     <div style="width:300px; margin:auto;" class="btnGroup">
        <button class="boxBtn" style="width:100%" data-ng-click="go('/searchIncident')"><span class="btnIcon icon_sprite icon_setup2"></span><span class="btnText">Search Incident</span></button>
    </div>
   
    </br> -->
	 <div style="width:300px; height:300px;" class="btnGroup">
	         <button class="boxBtn" style="width:100%; height:100%" data-ng-click="go('/incidentsearch')"><span class="btnIcon icon_sprite icon_edit2"></span><span class="btnText">Search and Update Incident </span></button>
	 </div>
    </br>
    
 <div style="width:300px; height:300px;" class="btnGroup2">
	         <button class="boxBtn" style="width:100%; height:100%"  data-ng-click="go('/uploadFile')"> <span class="btnIcon icon_sprite icon_upload2"></span><span class="btnText">Upload File </span></button>
	 </div>    
<div class="footer">
		
			<p style="margin-right: 30px;">&copy; General Motors</p>>
			
		

		
	</div>
</div>