
<div data-ng-transclude></div>
<div id="tableNav" class="dataTable ">
	<table>
		<tr>
		<th data-ng-if="pagingInfo && pagingInfo != ''">
			Total results found: {{pagingInfo.totalCount}}
		</th>
	    <th data-ng-show="!pagingInfo || pagingInfo == ''">
            Total results found: 0
        </th>
		<th>
			<ul class="tablePage">
			    <li data-ng-show="pagingInfo.prevPageUrl" data-ng-click="firstPage()"><span class="tbNav tbfirst"></span> First</li>
			 	<li data-ng-show="pagingInfo.prevPageUrl" data-ng-click="prevPage()"><span class="tbNav tbprev"></span> Previous</li>
			 	<li>Page: <input type="text" data-ng-change="changePage()" data-ng-model="searchParams.currentPage"/></li>
			 	<li data-ng-show="pagingInfo.nextPageUrl" data-ng-click="nextPage()">Next <span class="tbNav tbnext"></span></li>
			 	<li data-ng-show="pagingInfo.nextPageUrl" data-ng-click="lastPage()">Last <span class="tbNav tblast"></span></li>
			 </ul>
		</th>
		</tr>
	</table>
</div>

	
