<div class="secContent"> 
<div data-ng-repeat="error in errors">
    <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div >
        <div class="test">   
        <ul>
            <li data-ng-repeat="tab in tabs" 
                data-ng-class="{active:isActiveTab(tab.url)}" 
                data-ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div data-ng-include="currentTab"></div>
        </div>
    </div>


 </div><div class="clear"></div>