
 <div class="secContent"> 
<span class="boxIcon icon_sprite icon_view1"></span>
<div data-ng-repeat="error in errors">
    <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
</div>
<div>
 {{fileUploadResponse.fileName}}
</div>

<div class="boxTitle"><h2>Upload File</h2></div>
        
<div>
    <div class="fieldGroup">
    <ul class="clientLayout">
            <li>
               <span> 
                <label class="control-label" for="clientContact">Client Name:</label>
                      <input type="text" name="clientName" data-ng-model="clientName" />
                  </span>                              
                </li>     
    	<li>
            <span> 
                <label class="control-label" for="clientpain" >Client Pain:</label>
                <textarea name="clientpain" cols="40" rows="3"  data-ng-model="clientpain" ></textarea>
            </span>
            </li>

       </ul>
	</div>
     <div >
	     <p class="informational">Upload file by selecting the file or drag file if you have a modern browser:
	     </p>
         <form id="fileupload" method="POST" enctype="multipart/form-data"  data-file-upload="options">
            <div class="row fileupload-buttonbar">
                <div class="fieldGroup">
                    <ul>
                  
                      <li>
                        <span> 
                            <label class="control-label" for="files[]">Select File:</label>
					    <div class="choose_file">
					        <span>Choose File</span>
					        <input name="uploadFile" type="file" />
					    </div>                            
                        
                        </span>
                       </li>
                     </ul>   
                </div>
                     
            </div>
            <!-- The table listing the files available for upload/download -->
            <table class="dataTable  ng-cloak">
                <tr>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th></th>
                </tr>
                <tr data-ng-show="queue.length == 0">
                  <td colspan="3">
                      No files to upload.
                  </td>
                </tr>
                <tr data-ng-repeat="file in queue" data-ng-hide="!file.$cancel">
                        <td>
                            <span>{{file.name}}</span>
                            <div data-ng-show="file.error"><span class="label label-important">Error</span> {{file.error}}</div>
                        </td>
                        <td>
                            <p class="size">{{file.size | formatFileSize}}</p>
                            <div class="progress-animated active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                        </td>
                        <td>
                        <button type="button" class="uploadBtn"  data-ng-click="file.$submit()" >
	                        <span class="btnIcon icon_sprite icon_save2 ng-class:{ajax_indicator:savingIndicator}" ></span>
	                        <span class="btnText">Upload</span>
	                    </button>
	                    <button type="button" class="uploadBtn"  data-ng-click="file.$cancel();resetErrors();" data-ng-hide="!file.$cancel">
	                        <span class="btnIcon icon_sprite icon_cancel2" ></span>
	                        <span class="btnText">Cancel</span>
	                    </button>
                    </td>
                </tr>
            </table>
        </form>
        <div data-ng-show="savingIndicator" class="dirtynag">* Please wait... Upload in process. You will be redirected to another page once complete.</div>
    </div>
    
</div> 
  
</div>  


<div class="clear"></div>
<div class="footer">
		
			<p style="margin-right: 30px;">&copy; General Motors</p>>
			
		

		
	</div>